@import "./common/var.scss";
@import "./mixins/mixins.scss";
@import "./mixins/button.scss";
@include b(button) {
  background: #fff;
  border: 1px solid #DCDFE6;
  color: #606266;
  cursor: pointer;
  line-height: 1;
  @include button-size(12px,20px,14px,4px);
  & + & {
    margin-left: 10px;
  }
  & [class*='el-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }
  &:hover {
    color: #409EFF;
    background-color: #ecf5ff;
    border-color: #c6e2ff;
  }
  &:active {
    color: #3a8ee6;
    border-color: #3a8ee6;
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;
    &:before {
      pointer-events: none;
      content:'';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      background-color: rgba(255,255,255,0.35);
    }
  }

  @include when(disabled) {
    &,&:hover,&:active {
      color: #c0c4cc;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #EBEEF5;
    }
    &.is-plain {
      &,&:hover,&:active {
        background-color: #fff;
        border-color: #ebeef5;
        color: #c0c4cc;
      }
    }
  }


  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }

  @include when(circle) {
    border-radius: 50%;
    padding: 12px;
  }

  @include when(plain) {
    &:hover {
      background: #FFF;
      border-color: #409EFF;
      color: #409EFF;
    }
    &:active {
      color: #3a8ee6;
      border-color: #3a8ee6;
      background: #FFF;
    }
  }

  @include m(primary) {
    @include button-variant(#FFF, #409EFF, #409EFF);
  }

  @include m(success) {
    @include button-variant(#FFF, #67C23A, #67C23A);
  }

  @include m(warning) {
    @include button-variant(#FFF, #E6A23C, #E6A23C);
  }

  @include m(danger) {
    @include button-variant(#FFF, #F56C6C, #F56C6C);
  }

  @include m(info) {
    @include button-variant(#FFF, #909399, #909399);
  }

  @include m(text) {
    border-color: transparent;
    color: #409eff;
    &:hover {
      color: #66b1ff;
      border-color: transparent;
      background-color: transparent;
    }
    &.is-disabled {
      &,&:hover {
        border-color: transparent;
      }
    }
  }

  @include m(medium) {
    @include button-size(10px,20px,14px,4px);
    @include when(circle) {
      padding: 10px;
    }
  }

  @include m(small) {
    @include button-size(9px,15px,12px,3px);
    @include when(circle) {
      padding: 9px;
    }
  }

  @include m(mini) {
    @include button-size(7px,15px,12px,3px);
    @include when(circle) {
      padding: 7px;
    }
  }
}

