@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(card) {
    border: 1px solid #EBEEF5;
    @include when(always-shadow) {
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
    }
    @include when(hover-shadow) {
        &:hover {
            box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
        }
    }
}
@include e(header) {
    padding: 18px 20px;
    border-bottom: 1px solid #EBEEF5;
}
@include e(body) {
    padding: 20px;
}