@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(col) {
  width: 50%;
  float: left;
}
[class*="ell-col-"] {
  float: left;
  box-sizing: border-box;
}

@for $i from 0 through 24 {
  .ell-col-#{$i} {
    width: ($i * 100 * 1/24) * 1%;
  }
}
