@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(col) {
  width: 50%;
  float: left;
}
[class*="ell-col-"] {
  float: left;
  box-sizing: border-box;
}

@for $i from 0 through 24 {
  .ell-col-#{$i} {
    width: ($i * 100 * 1/24) * 1%;
  }
  .ell-col-offset-#{$i} {
    margin-left: ($i * 100 * 1/24) * 1%;
  }
  .ell-col-push-#{$i} {
    position: relative;
    left: ($i * 100 * 1/24) * 1%;
  }
  .ell-col-pull-#{$i} {
    position: relative;
    right: ($i * 100 * 1/24) * 1%;
  }
}


@include res(xs) {
  @for $i from 0 through 24   {
    .ell-col-xs-#{$i}  {
      width: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-xs-offset-#{$i} {
      margin-left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-xs-push-#{$i} {
      position: relative;
      left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-xs-pull-#{$i} {
      position: relative;
      right: ($i * 100 * 1/24) * 1%;
    }
  }
}

@include res(sm) {
  @for $i from 0 through 24   {
    .ell-col-sm-#{$i}  {
      width: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-sm-offset-#{$i} {
      margin-left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-sm-push-#{$i} {
      position: relative;
      left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-sm-pull-#{$i} {
      position: relative;
      right: ($i * 100 * 1/24) * 1%;
    }
  }
}

@include res(md) {
  @for $i from 0 through 24   {
    .ell-col-md-#{$i}  {
      width: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-md-offset-#{$i} {
      margin-left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-md-push-#{$i} {
      position: relative;
      left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-md-pull-#{$i} {
      position: relative;
      right: ($i * 100 * 1/24) * 1%;
    }
  }
}

@include res(lg) {
  @for $i from 0 through 24   {
    .ell-col-lg-#{$i}  {
      width: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-lg-offset-#{$i} {
      margin-left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-lg-push-#{$i} {
      position: relative;
      left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-lg-pull-#{$i} {
      position: relative;
      right: ($i * 100 * 1/24) * 1%;
    }
  }
}

@include res(xl) {
  @for $i from 0 through 24   {
    .ell-col-xl-#{$i}  {
      width: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-xl-offset-#{$i} {
      margin-left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-xl-push-#{$i} {
      position: relative;
      left: ($i * 100 * 1/24) * 1%;
    }
    .ell-col-xl-pull-#{$i} {
      position: relative;
      right: ($i * 100 * 1/24) * 1%;
    }
  }
}




