@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(input-number) {
  width: 180px;
  position: relative;
  line-height: 38px;
  .ell-input {
    &__inner {
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }
  }
  @include e((increase,decrease)) {
    position: absolute;
    width: 40px;
    top: 1px;
    z-index: 1;
    text-align: center;
    background: #f5f7fa;
    color: #606266;
    font-size: 13px;
    cursor: pointer;
    &:hover {
      color: #409eff;
      &:not(.is-disabled) ~ .ell-input  .ell-input__inner:not(.is-disabled) {
        border-color: #409eff;
      }
    }
    &.is-disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }
  @include e(increase) {
    right: 1px;
    border-radius: 0 4px 4px 0;
    border-left: solid 1px #dcdfe6;
  }
  @include e(decrease) {
    left: 1px;
    border-radius: 4px 0 0 4px;
    border-right: solid 1px #dcdfe6;
  }
  @include when(disabled) {
    @include e((increase,decrease)) {
      border-color: #e4e7ed;
      color: #e4e7ed;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
