@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(input) {
  width: 100%;
  @include e(inner) {
    height: 40px;
    line-height: 40px;
    border: 1px solid #DCDFE6;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    color: #606266;
    border-radius: 4px;
    &:hover {
      border-color: #C0C4CC;
    }
    &:focus {
      border-color: #409eff;
    }
    &::placeholder {
      color: #c0c4cc;
    }
  }

  @include when(disabled) {
    .ell-input__inner {
      background-color: #F5F7FA;
      border-color: #E4E7ED;
      color: #c0c4cc;
      cursor: not-allowed;
      &::placeholder {
        color: #c0c4cc;
      }
    }
  }
}
