@import "./common/var.scss";
@import "./mixins/mixins.scss";
$typeMap: (
        primary: #409EFF,
        success: #67C23A,
        warning: #E6A23C,
        danger: #F56C6C,
        info: #909399
);
@include b(link) {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  @include when(underline) {
    &:hover:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      border-bottom: 1px solid #409EFF;
    }
  }
  @include when(disabled) {
    cursor: not-allowed;
  }
  & [class*='el-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }
  &.ell-link--default {
    color: #606266;
    &:hover {
      color: #3a8ee6;
    }
    @include when(disabled) {
      color: #C0C4CC;
    }
  }
  @each $type,$primaryColor in $typeMap {
    &.ell-link--#{$type} {
      color: $primaryColor;
      &:hover {
        color: mix($primaryColor, #fff, 80%);
      }
      @include when(disabled) {
        color: mix($primaryColor, #fff, 50%);
      }
      @include when(underline) {
        &:hover:after {
          border-color: $primaryColor;
        }
      }
    }
  }
}
