@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(radio) {
  margin-right: 30px;
  color: #606266;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  @include e(input) {
    position: relative;
    vertical-align: middle;
    @include when(checked) {
      .ell-radio__inner {
        background: #409eff;
        border-color: #409eff;
        &::after {
          transform: translate(-50%,-50%) scale(1);
        }
      }
      & + .ell-radio__label {
        color: #409eff;
      }
    }
  }
  @include e(inner) {
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    position: relative;
    &::after {
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 100%;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) scale(0);
    }
  }
  @include e(original) {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include e(label) {
    font-size: 14px;
    padding-left: 10px;
  }
}
