@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include b(scrollbar) {
  overflow: hidden;
  position: relative;
  @include e(wrap) {
    height: 100%;
    overflow: scroll;
  }
  @include e(thumb) {
    background-color: rgba(#909399, 0.3);
    height: 0;
    width: 0;
    border-radius: inherit;
    transition: 0.3s background-color;
    &:hover {
      background-color: rgba(#909399, 0.5);
    }
  }
  @include e(bar) {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 4px;
    @include when(vertical) {
      width: 6px;
      top: 2px;
      > div {
        width: 100%;
      }
    }
    @include when(horizontal) {
      height: 6px;
      left: 2px;
      > div {
        height: 100%;
      }
    }
  }
}
