@mixin b($block) {
    $B: 'ell-' + $block !global;
    .#{$B} {
        @content
    }
}

@mixin e($element) {
    $currentSelector: $B + "__" + $element;
    .#{$currentSelector} {
        @content
    }
}
@mixin when($state) {
    &.#{'is-' + $state} {
        @content
    }
}
@mixin m($modifier) {
    $currentSelector: #{& + "--" + $modifier};
    @at-root {
        #{$currentSelector} {
            @content
        }
    }
}